APP_ENV=
PROJECT_ID=
FIREBASE_API_KEY=
FIREBASE_SERVICE_ACCOUNT_KEY=
GEMINI_API_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=
PAYPAL_PLAN_BASIC=
PAYPAL_PLAN_BUSINESS=
PAYPAL_PLAN_BASIC_MONTHLY=
PAYPAL_PLAN_BASIC_ANNUAL=
PAYPAL_PLAN_BUSINESS_MONTHLY=
PAYPAL_PLAN_BUSINESS_ANNUAL=
PAYPAL_WEBHOOK_ID=